body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

canvas {
  display: block;
}

#ui {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 15px;
  font-size: 16px;
}
